.container {
    max-height: 100vh;
    margin: 10% auto;
}

.h1 {
    text-align: center;
}

.home {
    height: 25px;
    margin: 10px 20px;
    width: 80px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    color: azure;
    background-color: rgb(52, 188, 206);
    display: block;
}
.home:hover {
    background-color: rgb(42, 152, 167); 
    transition: all 0.3s;
}

.delete {
    height: 25px;
    margin: 10px 20px;
    width: 150px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    color: azure;
    background-color: rgb(209, 68, 43);
    display: block;
}
.delete:hover {
    background-color: rgb(165, 55, 35);
    transition: all 0.3s;
}
.wrap {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
}