.item {
    margin: 5px auto;
    border: 2px solid white;
    height: 50px;
    width: 175px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
}

.result {
    
    margin: 10px auto;
    width: 100px;
    display: block;
    text-align: center;
}