.main {
    max-height: 100vh;
    width: 50%;
    margin: 10% auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.start {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 3% 3%;
    margin: 5% 25%;
    background-color: rgb(47, 119, 25);
    color: rgb(255, 255, 255);
}
.start:hover {
    background-color: rgb(26, 85, 8);
    transition: all 0.3s;
}
.stats {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 3% 3%;
    margin: 5% 25%;
    background-color: rgb(47, 119, 25);
    color: rgb(255, 255, 255);
}
.stats:hover {
    background-color: rgb(26, 85, 8);
    transition: all 0.3s;
}