.main {
    max-height: 100vh;
    margin: 25% auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.start {
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 3% 3%;
    margin: 5% 25%;
    background-color: rgb(26, 85, 8);
    color: rgb(255, 255, 255);
}
.stats {
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 3% 3%;
    margin: 5% 25%;
    background-color: rgb(26, 85, 8);
    color: rgb(255, 255, 255);
}
